<!DOCTYPE html>
<html>
<head>
    <title>Agregar Álbum</title>
</head>
<body>
    <h1>Agregar nuevo álbum</h1>
    <form action="/album/" method="post">
        <label for="nombre_album">Nombre del Álbum:</label><br>
        <input type="text" id="nombre_album" name="nombre_album"><br><br>

        <label for="fecha_salida_album">Fecha de Salida:</label><br>
        <input type="date" id="fecha_salida_album" name="fecha_salida_album"><br><br>

        <label for="genero_id">ID del Género:</label><br>
        <input type="number" id="genero_id" name="genero_id"><br><br>

        <label for="artista_id">ID del Artista:</label><br>
        <input type="number" id="artista_id" name="artista_id"><br><br>

        <input type="submit" value="Crear Álbum">
    </form>
    <p><a href="/">Volver al inicio</a></p>
</body>
</html>